@font-face {
    font-family: 'sabatoge';
    src: url('assets/sabatoge.woff2')format('woff2');
    src: url('assets/sabatoge.woff'); format('woff'):
    
}

@font-face {
    font-family: 'sabatoge';
    src: url('assets/sabatoge.woff2')format('woff2');
    src: url('assets/sabatoge.woff'); format('woff'):
    
}

@font-face {
    font-family: 'sabatoge';
    src: url('assets/sabatoge.woff2')format('woff2');
    src: url('assets/sabatoge.woff'); format('woff'):
    
}

@font-face {
    font-family: 'sabatoge';
    src: url('assets/sabatoge.woff2')format('woff2');
    src: url('assets/sabatoge.woff'); format('woff'):
    
}

@font-face {
    font-family: 'sabatoge';
    src: url('assets/sabatoge.woff2')format('woff2');
    src: url('assets/sabatoge.woff'); format('woff'):
    
}
